<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}MetaScore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>
    <header>
        <h1>MetaScore</h1>
        <nav>
            <a href="{% url 'index' %}">Inicio</a> |
            <a href="{% url 'videojuegos' %}">Videojuegos</a> |
            <a href="{% url 'generos' %}">Géneros</a> |
            <a href="{% url 'plataformas' %}">Plataformas</a>
        </nav>
    </header>

    <main>
        {% block contenido %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 MetaScore — IW-BI-10 - Todos los derechos reservados</p>
        <p>
        <a href="https://jigsaw.w3.org/css-validator/">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="¡CSS Válido!">
        </a>
        </p>
    </footer>
</body>
</html>
