{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block titulo %}{{ plataforma.nombre }} - MetaScore{% endblock %}

{% block contenido %}
<section class="detalle-plataforma {{ plataforma.nombre|lower|slugify }}">
    <div class="plataforma-header">
        <div class="plataforma-imagen">
            <img src="{% static 'images/'|add:plataforma.nombre|add:'.png' %}" alt="{{ plataforma.nombre }}">
        </div>
        <div class="plataforma-info">
            <h2>{{ plataforma.nombre }}</h2>
            <p>{% trans "Explora los videojuegos disponibles en esta plataforma y descubre lo mejor que tiene para ofrecer." %}</p>
        </div>
    </div>

    {% if plataforma.videojuego_set.all %}
    <h3 class="titulo-videojuegos">{% trans "Videojuegos disponibles" %}</h3>

    <div class="grid">
        {% for v in plataforma.videojuego_set.all %}
        <article class="card">
            <img src="{% static 'images/' %}{{ v.imagen }}" alt="{{ v.titulo }}">
            <h4>{{ v.titulo }}</h4>
            <a href="{% url 'detalle_videojuego' v.id %}" class="btn-detalle">{% trans "Ver detalles" %}</a>
        </article>
        {% endfor %}
    </div>

    {% else %}
        <p class="sin-juegos">{% trans "No hay videojuegos registrados en esta plataforma." %}</p>
    {% endif %}

    <div class="volver-container">
        <a href="{% url 'plataformas' %}" class="btn-volver">← {% trans "Volver" %}</a>
    </div>
</section>
{% endblock %}
