{% extends "base.html" %}
{% load static %}

{% block titulo %}Sugerir videojuego - MetaScore{% endblock %}

{% block contenido %}
<section class="form-section">
    <h2>Nuevo videojuego</h2>

    <form method="post" enctype="multipart/form-data" class="form-card">
        {% csrf_token %}

        <div class="form-grid">
            {% for field in form %}
            <div class="form-field {% if field.name == 'descripcion' %}form-field-full{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                
                {% for error in field.errors %}
                    <div class="error-text" style="color: red; font-size: 0.8em;">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-primario">Guardar</button>
            <a href="{% url 'videojuegos' %}" class="btn-secundario">Cancelar</a>
        </div>
    </form>
</section>
{% endblock %}