{% extends "base.html" %}
{% load static %}

{% block titulo %}Inicio - MetaScore{% endblock %}

{% block contenido %}
<section>
    <h2>Últimos videojuegos por género</h2>
    <div class="grid">
        {% for genero, videojuego in videojuegos_por_genero.items %}
            {% if videojuego %}
            <article class="card">
                <h2>{{ genero.nombre }}</h2>
                {% if videojuego.imagen %}
                    <img src="{% static 'images/' %}{{ videojuego.imagen }}" alt="Portada de {{ videojuego.titulo }}">
                {% endif %}
                <h3 class="videojuego-title">
                    <a href="{% url 'detalle_videojuego' videojuego.id %}">{{ videojuego.titulo }}</a>
                </h3>
                <p>Lanzamiento: {{ videojuego.fecha_lanzamiento|date:"d/m/Y" }}</p>
            </article>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
