{% extends "base.html" %}
{% block titulo %}Videojuegos - Videomaníacos{% endblock %}
{% block contenido %}
<h2>Lista de videojuegos</h2>
<ul class="listado">
    {% for v in videojuegos %}
    <li>
        <a href="{% url 'detalle_videojuego' v.id %}">{{ v.titulo }}</a>
        — {{ v.genero.nombre }} |
        Plataformas:
        {% for p in v.plataformas.all %}
            {{ p.nombre }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            <em>Sin plataformas</em>
        {% endfor %}
    </li>
    {% empty %}
        <li>No hay videojuegos registrados.</li>
    {% endfor %}
</ul>
{% endblock %}
